<header>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand ml-4" routerLink="">Chall <span class="pink">Pink</span></a>


      <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="toggleNavbarCollapsing()" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" [class.collapse]="navbarCollapsed">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="aboutus">About Us</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="services">Services</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="contact">Contact</a>
          </li>
          <li *ngIf="!(authService.token)" class="nav-item">
            <a class="botonlogueo btn btn-primary btn-sm" routerLink="login"><fa-icon [icon]="faUser"></fa-icon> Login</a>
          </li>
          <li *ngIf="authService.token" class="nav-item">
            <a class="botonlogueo btn btn-primary btn-sm pointer" (click)="superLogout()"><fa-icon [icon]="faSignOutAlt"></fa-icon> Logout</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</header>