<footer>
  <div class="container py-4">
    <div class="row">
      <div class="col-lg-2">
        <h4 class="mb-3">Sub menu</h4>
        <p>Android</p>
        <p>Apps</p>
        <p>Articles</p>
        <p>Bakcgrounds</p>
        <p>Blogguer</p>
        <p>cooding</p>
      </div>
      <div class="col-lg-2">
        <h4 class="mb-3">Sub menu</h4>
        <p>Android</p>
        <p>Apps</p>
        <p>Articles</p>
        <p>Bakcgrounds</p>
        <p>Blogguer</p>
        <p>cooding</p>
      </div>
      <div class="col-lg-2">
        <h4 class="mb-3">Sub menu</h4>
        <p>Android</p>
        <p>Apps</p>
        <p>Articles</p>
        <p>Bakcgrounds</p>
        <p>Blogguer</p>
        <p>cooding</p>
      </div>
      <div class="col-lg-2">
        <h4 class="mb-3">Sub menu</h4>
        <p>Android</p>
        <p>Apps</p>
        <p>Articles</p>
        <p>Bakcgrounds</p>
        <p>Blogguer</p>
        <p>cooding</p>
      </div>
      <div class="col-lg-4">
        <div class="my-3">
          <fa-icon class="mx-2" [icon]="faFacebook"></fa-icon>
          <fa-icon class="mx-2" [icon]="faTwitter"></fa-icon>
          <fa-icon class="mx-2" [icon]="faBasketballBall"></fa-icon>
          <fa-icon class="mx-2" [icon]="faShareAlt"></fa-icon>
        </div>
        <p class="mx-2">Copyright Wintercr</p>

      </div>
    </div>
  </div>
</footer>